@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

a {
    text-decoration: none;
}

.logo-text {
    background-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 155%;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: black;
    align-items: center;
}

.nav-links a {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-detail {
    padding: 50px 0;
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: none;
}

.box {
    padding: 0 20px;
}

.footer {
    background-color: #EAE7FA;
    padding: 20px 0;
    width: 100%;
}

.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

.footer-links h4 {
    font-size: 20px;
    color: #695E93;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #5D59AF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #170B3B;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: #4120A9;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #9E97E3;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #170B3B;
    transition: all 300ms ease;
    text-decoration: none;
}

.social-link a:hover {
    background-color: #D7A1F9;
}

/* CELULARES Y TABLET */
@media (max-width: 991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-links {
        gap: 20px;
    }

    nav {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    nav {
        flex-direction: column;
        padding: 10px 20px;
    }

    .nav-links {
        display: none; /* Oculta las opciones de navegación en móviles */
    }

    .logo-text {
        font-size: 130%;
    }

    .container,
    .products-list {
        grid-template-columns: 1fr;
    }

    .footer-links {
        grid-template-columns: 1fr;
    }

    .footer {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .logo-text {
        font-size: 120%;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: block;
        width: 100%;
        text-align: center;
    }

    .footer {
        padding: 10px 20px;
        text-align: center;
    }

    .footer-links h4 {
        font-size: 18px;
    }

    .footer-links ul li a {
        font-size: 16px;
    }
}