<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas frecuentes</title>
    <link rel="stylesheet" href="../static/faq.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/MAGNÉTICA.ico">
    <script src="https://kit.fontawesome.com/a8656677c2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">    
    
</head>

<body>
    <!-- ENCABEZADO -->
    <header class="header">
        <nav class="nav">
            <div>
                <!-- logo -->
                <a href="../index.html">
                    <span class="logo-text">MÁGICA</span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="../index.html">SKINCARE & BEAUTY</a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span>CESTA</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav>
            <h1>Preguntas frecuentes</h1>
        </nav>
    </header>
   
    <main>

        <h2>Envíos y retiro en tienda</h2>
        <br>

        <details>
            <summary>¿Cómo realizan los envíos?</summary>
            <div class="content">
                <p>Hacemos envíos a todo el país por medio de ANDREANI y PEDIDOS YA. También enviamos con URBANO a Capital Federal y Gran Buenos Aires.
                    Te enviamos tu pedido a la puerta de tu casa o podés retirarlo por tu tienda de TODOMODA favorita.</p>
            </div>           
        </details>
        <details>
            <summary>¿Cómo puedo seguir mi pedido?</summary>
            <div class="content">
                <p>Una vez que confirmada la compra, recibirás un mail con el cual te registraste en nuestra web, con tu número de pedido y el estado de este.
                    Cuando sea enviado desde nuestro Centro de Distribución a tu domicilio recibirás un mail con el número de seguimiento para que puedas consultar el estado desde la página del proveedor..</p>
            </div>           
        </details>        
        <details>
            <summary>¿Tienen envíos gratis?</summary>
            <div class="content">
                <p>Sí, tenemos envíos a domicilio gratis en compras superiores a $20.000. Si el importe es menor el costo es de $3.000 a todo el país.
                    ¡Los envíos a tiendas TODOMODA son gratis!</p>
            </div>           
        </details>
        <details>
            <summary>¿Cómo realizan los envíos?</summary>
            <div class="content">
                <p>A Domicilio
                    AMBA: Hasta 3 días hábiles.                    
                    Interior y GBA: Hasta 6 días hábiles.
                    
                    A Tiendas                    
                    AMBA: Hasta 3 días hábiles.                    
                    Interior y GBA: Hasta 6 días hábiles.</p>
            </div>           
        </details>

        <br>
        <br>

        <h2>Cambios y devoluciones</h2>
        <br>
        <details>
            <summary>¿Cómo puedo cambiar mi pedido?</summary>
            <div class="content">
                <p>Te esperamos en cualquier tienda del país para hacer el cambio tenes 6 meses una vez recibida la compra, para eso te pediremos el número de la factura online o DNI, y que el producto se encuentre con sus etiquetas originales.
                    Tendrás la opción de cambiarlo por cualquier producto de la tienda, se reconocerá el producto al valor abonado al momento de la compra o que podés cambiar tus productos por una Gift Card cargada por el mismo importe, para ser canjeada total o parcialmente en cualquier local de la marca.</p>
            </div>           
        </details>
        <details>
            <summary>¿Puedo pedir reembolso de dinero si no estoy contento con mi compra?</summary>
            <div class="content">
                <p>Sí. Dispones de 15 (quince) días hábiles desde que recibís tu pedido para solicitar el reembolso del dinero si no estás conforme con tu compra, en caso de defecto y/o falla en el/los producto/s adquirido/s. Se gestionará el reintegro de dinero a través del mismo medio que realizaste el pago.</p>
            </div>           
        </details>        
        <details>
            <summary>¿Tú producto llegó dañado?</summary>
            <div class="content">
                <p>Podés hacer el cambio en cualquier tienda física con el número de pedido online, la factura de compra o tarjeta de regalo, no necesitas avisarnos. En caso de querer devolverlo, se gestionará el reintegro de dinero a través del mismo medio que realizaste el pago.</p>
            </div>           
        </details>
    </main>


    <!-- FOOTER -->
    <footer class="footer">

        <div class="footer-links">

            <div class="box">
                <h4>Sobre Mágica</h4>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="../templates/nosotros.html">Sobre Nosotros</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Atención al cliente</h4>
                <ul>
                    <li><a href="#">Sucursal</a></li>
                    <li><a href="#">Horarios de atención</a></li>
                    <li><a href="#">Whatsapp</a></li>
                    <li><a href="#">Mail</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="../templates/faq.html">Preguntas frecuentes</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="../templates/register.html">Contacto</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Seguinos</h4>
                <div class="social-link">
                    <a href="#" target="_blank" class="fa-brands fa-instagram"></a>
                    <a href="#" target="_blank" class="fa-brands fa-twitter"></a>
                    <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                    <a href="#" target="_blank" class="fa-brands fa-tiktok"></a>
                </div>

            </div>

        </div>



    </footer>

</body>
