<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../static/nosotros.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/MAGNÉTICA.ico">
    <script src="https://kit.fontawesome.com/a8656677c2.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div>
                <!-- logo -->
                <a href="../index.html">
                    <span class="logo-text">MÁGICA</span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="../index.html">SKINCARE & BEAUTY</a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span>CESTA</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="heading">
        <h1>Sobre Nosotros</h1>
        <p>Somos mucho más que una empresa, somos un grupo de personas que comparte la misma pasion por el maquillaje y el cuidado de la piel. Nuestro propósito es desarrollar productos que te hagan sentir comoda, que te permitan desenvolver tu personalidad para que seas quien quieras ser, pero sobre todo <b>SEAS FELIZ.</b></p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="../static/img/sobre nosotros principal.jpg">
                <div class="about-content">
                    <h2>Nuestra Historia</h2>
                    <p>En 2020 cumplimos un sueño, abrimos nuestro primer local, con el tiempo fuimos creciendo y hoy somos una cadena de cientos de locales, gracias a vos.</p>
                    <a href="" class="read-more">Leer más</a>

                </div>
            </div>
        </section>
    </div>
    
    <footer class="footer">

        <div class="footer-links">

            <div class="box">
                <h4>Sobre Mágica</h4>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="../templates/nosotros.html">Sobre Nosotros</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Atención al cliente</h4>
                <ul>
                    <li><a href="#">Sucursal</a></li>
                    <li><a href="#">Horarios de atención</a></li>
                    <li><a href="#">Whatsapp</a></li>
                    <li><a href="#">Mail</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="../templates/register.html">Contacto</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Seguinos</h4>
                <div class="social-link">
                    <a href="#" target="_blank" class="fa-brands fa-instagram"></a>
                    <a href="#" target="_blank" class="fa-brands fa-twitter"></a>
                    <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                    <a href="#" target="_blank" class="fa-brands fa-tiktok"></a>
                </div>

            </div>

        </div>



    </footer>
</body>
</html>