<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/MAGNÉTICA.ico">
    <script src="https://kit.fontawesome.com/a8656677c2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../static/register.css">
    
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div>
                <!-- logo -->
                <a href="/index.html">
                    <span class="logo-text">MÁGICA</span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/index.html">SKINCARE & BEAUTY</a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span>CESTA</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav>
            <h1>Hablá con nosotros</h1>
        </nav>
    </header>
    <main>
        <section>
            <h2>Compra online</h2>

            <br>

            <form action="#" id="formRegister" method="GET">
                
                <div class="form-control">
                    <label for="list-theme">Seleccioná el tema</label>
                    <select name="list-theme" id="list-theme" required>
                        <option value="">Seleccione</option>
                        <option value="">Calidad del producto</option>
                        <option value="">Servicio al cliente</option>
                        <option value="">Comentarios</option>
                    </select>
                </div>
                <div class="error" id="error-list-theme"></div>
                
                <div class="form-control">
                    <label for="firstname">Nombre</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>
                <div class="error" id="error-firstname"></div>
                
                <div class="form-control">
                    <label for="lastname">Apellido</label>
                    <input type="text" name="lastname" id="lastname" required>
                </div>
                <div class="error" id="error-lastname"></div>
                
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Por favor ingrese un email" required>
                </div>
                <div class="error" id="error-email"></div>
                
                <div class="form-control">
                    <label for="telephone">Teléfono</label>
                    <input type="tel" name="telephone" id="telephone" placeholder="Por favor ingrese un teléfono" required>
                </div>
                <div class="error" id="error-telephone"></div>
                                    
                <div class="form-control">                    
                    <label for="comment">Mensaje</label>
                    <textarea name="comment" id="comment" rows="4" cols="50" required></textarea>                                       
                </div>
                <div class="error" id="error-comment"></div>

                <br>
                <br>

                <button type="button" id="btn-send">
                    Enviar
                </button>

            </form>
        </section>
    </main>
    <script src="/static/js/validation-register.js"></script>

    <footer class="footer">

        <div class="footer-links">

            <div class="box">
                <h4>Sobre Mágica</h4>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Atención al cliente</h4>
                <ul>
                    <li><a href="#">Sucursal</a></li>
                    <li><a href="#">Horarios de atención</a></li>
                    <li><a href="#">Whatsapp</a></li>
                    <li><a href="#">Mail</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="templates/register.html">Contacto</a></li>
                </ul>
            </div>

            <div class="box">
                <h4>Seguinos</h4>
                <div class="social-link">
                    <a href="#" target="_blank" class="fa-brands fa-instagram"></a>
                    <a href="#" target="_blank" class="fa-brands fa-twitter"></a>
                    <a href="#" target="_blank" class="fa-brands fa-facebook"></a>
                    <a href="#" target="_blank" class="fa-brands fa-tiktok"></a>
                </div>

            </div>

        </div>



    </footer>

</body>
